"acme-enter-email": "{{ email }}"
"acme-agreement:https://letsencrypt.org/documents/LE-SA-v1.0.1-July-27-2015.pdf": true
"acmetool-quickstart-choose-server": {{ server }}
"acmetool-quickstart-choose-method": {{ method }}
# This is only used if "acmetool-quickstart-choose-method" is "webroot".
"acmetool-quickstart-complete": true
"acmetool-quickstart-install-cronjob": false
"acmetool-quickstart-install-haproxy-script": true
"acmetool-quickstart-install-redirector-systemd": false
"acmetool-quickstart-key_type": {{ key_type }}
"acmetool-quickstart-rsa-key_size": {{ key_size }}
"acmetool-quickstart-ecdsa-curve": {{ curve }}
